<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <trace enabled="true" requestLimit="40" localOnly="false" pageOutput="false" traceMode="SortByTime"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off" defaultRedirect="/error.aspx">
      <error statusCode="403" redirect="/error.aspx"/>
      <error statusCode="404" redirect="/invalid_page.aspx"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="moshe" tagName="AutoResponder" src="~/controls/AutoResponder.ascx"/>
        <add tagPrefix="moshe" tagName="BlogFeed" src="~/controls/BlogFeed.ascx"/>
        <add tagPrefix="moshe" tagName="CalendarControl" src="~/controls/CalendarControl.ascx"/>
        <add tagPrefix="moshe" tagName="CalendarDetails" src="~/controls/CalendarDetails.ascx"/>
        <add tagPrefix="moshe" tagName="CalendarDetailsUI" src="~/controls/CalendarDetailsUI.ascx"/>
        <add tagPrefix="moshe" tagName="CalendarInviteControl" src="~/controls/CalendarInviteControl.ascx"/>
        <add tagPrefix="moshe" tagName="CalendarNextEvent" src="~/controls/CalendarNextEvent.ascx"/>
        <add tagPrefix="moshe" tagName="CalendarRSVP" src="~/controls/CalendarRSVP.ascx"/>
        <add tagPrefix="moshe" tagName="ContactUsControl" src="~/controls/ContactUsControl.ascx"/>
        <add tagPrefix="moshe" tagName="EndorsementUI" src="~/controls/EndorsementUI.ascx"/>
        <add tagPrefix="moshe" tagName="FeaturedVideos" src="~/controls/FeaturedVideos.ascx"/>
        <add tagPrefix="moshe" tagName="ImageSlideShow" src="~/controls/ImageSlideShow.ascx"/>
        <add tagPrefix="moshe" tagName="ImageSlideShowEditor" src="~/controls/ImageSlideShowEditor.ascx"/>
        <add tagPrefix="moshe" tagName="InviteFriends" src="~/controls/InviteFriends.ascx"/>
        <add tagPrefix="moshe" tagName="LoginPanel" src="~/controls/LoginControl.ascx"/>
        <add tagPrefix="moshe" tagName="MediaControl" src="~/controls/MediaControl.ascx"/>
        <add tagPrefix="moshe" tagName="MediaEditor" src="~/controls/MediaEditor.ascx"/>
        <add tagPrefix="moshe" tagName="NetworkFeed" src="~/controls/NetworkFeed.ascx"/>
        <add tagPrefix="moshe" tagName="NetworkFeedComments" src="~/controls/NetworkFeedComments.ascx"/>
        <add tagPrefix="moshe" tagName="NewsletterUI" src="~/controls/NewsletterUI.ascx"/>
        <add tagPrefix="moshe" tagName="Notifications" src="~/controls/Notifications.ascx"/>
        <add tagPrefix="moshe" tagName="PageFeed" src="~/controls/PageFeed.ascx"/>
        <add tagPrefix="moshe" tagName="ProfileEditor" src="~/controls/ProfileEditor.ascx"/>
        <add tagPrefix="moshe" tagName="ScheduleControl" src="~/controls/ScheduleControl.ascx"/>
        <add tagPrefix="moshe" tagName="SurveyResults" src="~/controls/SurveyResults.ascx"/>
        <add tagPrefix="moshe" tagName="SurveyUI" src="~/controls/SurveyUI.ascx"/>
        <add tagPrefix="moshe" tagName="TweetControl" src="~/controls/TweetControl.ascx"/>
        <add tagPrefix="moshe" tagName="ValidationControl" src="~/controls/ValidationControl.ascx"/>
        <add tagPrefix="moshe" tagName="VideoControl" src="~/controls/VideoControl.ascx"/>
        <add tagPrefix="moshe" tagName="VolunteerUI" src="~/controls/VolunteerUI.ascx"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="AjaxControlToolkit"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImg"/>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="SpellChecker" verb="*" path="TinyMCEHandler.ashx" type="Moxiecode.TinyMCE.Web.HttpHandler, Moxiecode.TinyMCE" requireAccess="None" />
    </handlers>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/invalid_page.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="mstarkman@moshetechnologies.com">
        <network defaultCredentials="false" host="smtp.com" port="25" userName="mstarkman@moshetechnologies.com" password="mT3chEm@1L"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\Websites\MosheNet\files\tmp\;"/>
    <add key="TinyMceInstallPath" value="/js/tinymce" />
    <add key="TinyMceEventValidationCompatibility" value="false" />
    <!--MosheTech Configurations-->
    <add key="SystemID" value="1"/>
    <add key="SystemFullName" value="MosheNET"/>
    <add key="SystemName" value="MosheNET"/>
    <add key="SystemEmail" value="support@moshesnetwork.com"/>
    <add key="SystemSMTP" value="MosheTech"/>
    <add key="SystemIcon" value="icon.png"/>
    <add key="SystemLogo" value="MosheNetLink.png"/>
    <add key="SystemDomains" value="moshetech.com"/>
    <!--The email address that receives error notifications-->
    <add key="DefaultBanner" value="/images/defaults/group_banner.png"/>
    <add key="DefaultDomain" value="moshenet.com"/>
    <add key="DataDomain" value="moshenet.com"/>
    <add key="EmailDomain" value="moshenet.com"/>
    <add key="EmailEnabled" value="false"/>
    <add key="VideoSubdomain" value=""/>
    <add key="MediaSubdomain" value=""/>
    <add key="BlogSubdomain" value=""/>
    <add key="EventSubdomain" value=""/>
    <add key="PageSubdomain" value=""/>
    <add key="WebsiteSubdomain" value=""/>
    <add key="ProfileSubdomain" value=""/>
    <add key="DoNotTrack" value="x.x.x.x"/>
    <add key="Block" value="x.x.x.x"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=.;Initial Catalog=KidSteps2ndStep;User Id=KidSteps;Password=ks!"/>
    <add name="SqlConnectionStringLOG" connectionString="Data Source=.;Initial Catalog=KidSteps2ndStep;User Id=KidSteps;Password=ks!"/>
    <add name="SqlConnectionStringMaster" connectionString="Data Source=.;Initial Catalog=Moshe;User Id=mosheNET;Password=!T3mp!"/>
    <add name="SqlConnectionStringCustom" connectionString="Data Source=.;Initial Catalog=KidSteps2ndStep;User Id=KidSteps;Password=ks!"/>
  </connectionStrings>
  <!--<connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=MOSES;Initial Catalog=NewtsNetwork;User Id=Newtsnetwork;Password=!T3mp!" />
    <add name="SqlConnectionStringLOG" connectionString="Data Source=MOSES;Initial Catalog=NewtsNetworkLOGS;User Id=Newtsnetwork;Password=!T3mp!" />
    <add name="SqlConnectionStringMASTER" connectionString="Data Source=MOSES;Initial Catalog=NewtsNetwork;User Id=moshe;Password=!T3at1me!" />
    <add name="SqlConnectionStringCUSTOM" connectionString="Data Source=MOSES;Initial Catalog=YRNetworkXtra;User Id=yrnetwork;Password=!T3mp!" />
  </connectionStrings>-->
</configuration>