@model KidSteps.ViewModels.InvitationIndexViewModel
@{
    ViewBag.Title = "Invitations";
}
<h2>
    Invitations</h2>
<table>
    <tr>
        <th colspan="2">Family Members without a registered MKS account.</th>
    </tr>
    @foreach (var invitation in Model.UnregisteredUserInvitations)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => invitation.User.Name)
            </td>
            <td>@invitation.DirectLink</td>
        </tr>
    }
    <tr>
        <th colspan="2">Want to share with others?</th>
    </tr>
    <tr>
        <td>Public Viewer</td>
        <td>@Model.PublicViewerInvitation.DirectLink</td>
    </tr>
</table>