@model KidSteps.ViewModels.AddFamilyMemberViewModel
@{
    ViewBag.Title = "Add Family Member";
}
<h2>
    @Model.PageHeader</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.IsKid)
    
    @Html.EditorFor(m => m.Name)

    <p>
        <input type="submit" value="Save" />
    </p>
}