@model IEnumerable<KidSteps.Models.Family>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<table>
    <tr>
        <th>
            Family
        </th>
        <th>
            Admin
        </th>
        <th>
            Members
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, MVC.Family.Details().WithId(item))
            </td>
            <td>
                @Html.ActionLink(item.Admin.Name.Full, MVC.User.Details().WithId(item.Admin))
            </td>
            <td>
                @item.Members.Count
            </td>
        </tr>
    }
</table>
