@model IEnumerable<KidSteps.Models.Image>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Upload", MVC.Image.Create())
</p>
@foreach (var item in Model)
{
    <img src="@item.Url" alt="Alternate Text" height="100" />
}
