@using KidSteps.Models

@model IEnumerable<KidSteps.Controllers.TimelineController.Conversation>
@foreach (var conversation in Model)
{
    Comment comment = conversation.ParentItem as Comment;
    <div style="border-width:2px; border-color:gray; border-style:solid;">
        <div style="font-style: italic; font-size: 10px">
            @comment.CreatedTime.ToString()
        </div>
        <div style="font-size: 14px">
            @comment.Text
        </div>
    </div>
}