@using KidSteps.Models

@model KidSteps.Controllers.TimelineController.IndexViewModel

<div id="ctl00_ctl00_Canvas_Canvas_MediaControl1_ControlPanel" style="width:480px;">
	
    
    
    <div id="announcementUI" style="">
        <div id="ctl00_ctl00_Canvas_Canvas_MediaControl1_PublicSquareUI1">
		
            <div id="ctl00_ctl00_Canvas_Canvas_MediaControl1_CommentsPanel" class="form-field">
			
                <div class="line-1"></div>
                <div><textarea name="ctl00$ctl00$Canvas$Canvas$MediaControl1$MediaComment" rows="3" cols="20" id="ctl00_ctl00_Canvas_Canvas_MediaControl1_MediaComment" class="mceNoEditor" style="font-family:Arial;width:470px;"></textarea></div>
            
		</div>
            
            
            
            
            
            <div class="box" style="text-align:right;">
                <div id="ctl00_ctl00_Canvas_Canvas_MediaControl1_UpdatePanel2">
			<input type="submit" name="ctl00$ctl00$Canvas$Canvas$MediaControl1$AddButton" value="Share" onclick="this.style.display='none'; document.getElementById('mtech_mc1').style.display='';" id="ctl00_ctl00_Canvas_Canvas_MediaControl1_AddButton" style="color:White;background-color:#000099;font-weight:bold;"><span id="mtech_mc1" style="display:none;">posting...</span>
		</div>
            </div>            
            
        
	</div>
    </div>

</div>