@using KidSteps.Models

@model KidSteps.Controllers.TimelineController.IndexViewModel
<div id="TimelineDiv">
    @using (Ajax.BeginForm(MVC.Timeline.Index().WithId(ViewData), new AjaxOptions() { UpdateTargetId = "TimelineDiv" }))
    {    
        <div style="max-width:462px;">
            <div class="editor-field">
                <textarea rows="3" cols="55" name="NewComment"></textarea>
            </div>
            <div style="font-weight:bold; text-align:right; border-style:solid; border-width:1px; border-color:Black; background-color:#f5f5f5">
                <input type="submit" name="btnNewComment" value="Share" style="margin-right:20px;" />
            </div>
        </div>
    }
    @foreach (var conversation in Model.Conversations)
    {
        Comment comment = conversation.ParentItem as Comment;
        <div style="border-width:2px; border-color:gray; border-style:solid;">
            <div style="font-style: italic; font-size: 10px">
                @comment.CreatedTime.ToString()
            </div>
            <div style="font-size: 14px">
                @comment.Text
            </div>
        </div>
    }
</div>