@model KidSteps.ViewModels.LayoutMenuViewModel
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.DefaultFamily != null)
            {
                <li>@Html.ActionLink("My Family", "Details", "Family", new { id = Model.DefaultFamily.Id }, null)</li>
            }

            <li>@Html.ActionLink("My Pics", "Index", "Image")</li>
        }
    </ul>
</nav>