@model KidSteps.Models.User

<footer>
    @if (Model != null && Model.IsSuperUser)
    {
        <div>
            @Html.ActionLink("All Users", MVC.User.Index()) |
            @Html.ActionLink("All Families", MVC.Family.Index())
        </div>
        <div>
            @Html.ActionLink("Error Log", MVC.Admin.Elmah.Index(), new { target = "_blank" })
            | <a href="glimpse.axd" target="_blank">Trace</a>
        </div>
    }
</footer>