@model KidSteps.ViewModels.KidCreateViewModel
@{
    ViewBag.Title = "Create Kid";
}
<h2>
    Create Kid</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.FamilyId)
    @Html.EditorFor(m => m.Name)

    if (Model.ShouldChooseRelationship)
    {
        @Html.DropDownListFor(m => m.RelationshipOfOwnerToKid, Model.RelationshipsToChooseFrom);
    }

    <p>
        <input type="submit" value="Save" />
    </p>
}