@model KidSteps.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">@Html.DisplayFor(m => m.Id)</div>
    @if (Model.ProfilePicture != null)
    {
        <div class="display-field">
            <img src="@Model.ProfilePicture.Url" alt="Alternate Text" />
        </div>        
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
