@model KidSteps.Models.User
@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>@Html.DisplayFor(m => m.Name)</legend>
    <div style="float:left; margin:8px 8px 8px 8px">
        @Html.DisplayFor(m => m.ProfilePicture)
    </div>
    <div class="display-field" style="margin:8px 8px 8px 8px">
    @Html.DisplayFor(m => m.Bio)
    </div>
</fieldset>
<p>
    @if(Model.Id.ToString() == User.Identity.Name)
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) @:|
    }
</p>
