@model IEnumerable<KidSteps.Models.User>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>

<table>
    <tr>
        <th colspan="2" style="text-align:center">
            User
        </th>
        <th>
            Family
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ProfileActionImage(MVC.User.Details().WithId(item), item.ProfilePicture, 50)
            </td>
            <td>
                @Html.ActionLink(item.Name.Full, MVC.User.Details().WithId(item))
            </td>
            <td>
                @if(item.Family != null)
                {
                    @Html.ActionLink(item.Family.Name, MVC.Family.Details().WithId(item.Family))
                }
            </td>
        </tr>
    }
</table>
