@model KidSteps.ViewModels.ImageSelectViewModel
@{
    ViewBag.Title = "Select";
}
<h2>
    Select profile image</h2>
@using (Html.BeginForm())
{
    foreach (var image in Model.Images)
    {
    @Html.RadioButtonFor(m => m.SelctedImageId, image.Id)
    @Html.DisplayFor(_ => image)
    }
    if (Model.Images.Any())
    {
        <div>
            <input type="submit" value="Select" />
        </div>
    }
}
<div>
    @Html.ActionLink("Upload new image", MVC.Image.Create(returnUrl: Url.Action(MVC.User.ProfileImageEdit().WithId(ViewData), Request.Url.Scheme), shouldSetAsProfile: !Model.Images.Any()).WithId(ViewData))
</div>
