@model IEnumerable<KidSteps.Models.Image>
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@using (Html.BeginForm())
{
    <input type="hidden" name="userId" value="@User.Identity.Name" />
    foreach (var imageId in Model)
    {
    @Html.RadioButtonFor(_ => imageId, imageId.Id)
    @Html.DisplayFor(_ => imageId)
    }
    <div>
        <input type="submit" value="Select" />
    </div>
}
<div>
    @Html.ActionLink("Upload new image", MVC.Image.Create(Request.RawUrl))
</div>
