@model KidSteps.Models.Image
@using (Ajax.BeginForm("Create", "Media", new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))
{
    if (Model != null)
    {
        <div class="display-field">
            <img src="@Model.Url" alt="Alternate Text" />
        </div>        
    }
    else
    {
    <div class="display-field">
        <img src="/Images/profile-placeholder.jpg" alt="Alternate Text" height="100" />
    </div>
    }
    <p>
        @Html.TextBoxFor(model => model.File, new { type = "file", accept = "image/*" })
        @Html.ValidationMessageFor(model => model.File)
    </p>
        <input type="submit" name="thingy" value=" " />
}
